.popup__container {
  max-width: 430px;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 280px;
  }
}
